canvas{
	display:none;
	
}
 body{
background-color: #161c22;
height: 100%;
overflow-y: hidden;
}
@font-face{
	font-family: maze;
	src:url('/static/Maze.ttf');
}
#start-screen{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100%;

}
#lobby-screen{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
}
h3{
	text-align: center;
}
#instructions{
	background-color: black;
	border-style: solid;
	border-color: white;
	border-width: 5px;
	font-family:Arial;
	font-weight:bold;
	color: white;
}
#game-container{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container{
display: flex;
flex-direction: row;
align-items: top;
justify-content: center;
}
#templates{
	display: none;
}
#leaderboard{
	background-color: black;
	border-style: solid;
	border-color: white;
	border-width: 5px;
	font-family:Arial;
	font-weight:bold;
	color: white;
	flex-basis: 20%;
	display: none;
	padding: 5px;
}
.leaderboard-entry{
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	font-size: 18px;
}
#rounds
{
	font-size: 20px;
	text-align: center;
}
#timer
{
	font-size: 25px;
	text-align: center;
}
.flex-row{
	margin-top: 5px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}
.player-time{
	width: 50%;
}
.player-score{
align-self: flex-end;
}
#queue, #playerCount{
	font-family:Arial;
	font-weight:bold;
}
#win{
	text-align: center;
		position: absolute;
		top:20%;
		left: 0;
		right: 0;
	vertical-align: middle;
	font-family:Arial;
	color:white;
	font-size:3em;
	font-weight:bold;
	display: none;
	z-index: 1000;
}
#phaseCount{
	display: none;
	font-family:Arial;
	color:white;
	font-size:1.5em;
	font-weight:bold;
}
@keyframes float{
	0%{
		transform: translatey(0px);
	}
	50%{
		transform: translatey(10px);
	}
	100%{
		transform: translatey(0px);
	}
}
#logo
{
color:white;
font-size: 9em;
font-family: maze;
animation: float 6s ease-in-out infinite;
}
input{
	padding: 8px;
	font-size:25px;
	border-radius: 50px;
	margin-bottom: 15px;
}
.playButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:46px;
	-webkit-border-radius:46px;
	border-radius:46px;
	border:1px solid #dcdcdc;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:38px;
	font-weight:bold;
	margin-top: 20px;
	padding:5px 27px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.playButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.playButton:active {
	position:relative;
	top:1px;
}
